.btn-primary {
  border-color:#A71F23 ;
  background-color: #A71F23;
}
.btn.tp-btn-light.btn-primary {
  color: #A71F23;
}
.btn.tp-btn-light.btn-primary:hover {
  background-color: var(--rgba-primary-1);
  border-color: var(--rgba-primary-1);
  color: #A71F23;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  border-color: #A71F23;
  background-color: transparent;
  color: #A71F23;
}

.text-primary {
  color: #A71F23 !important;
}

.btn-link svg circle {
  fill: #A71F23;
}

.footer .copyright a {
  color: #A71F23 !important;
}

.form-check-input:checked {
  background-color: #A71F23;
  border-color: #A71F23;
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:active, .dropdown-menu .dropdown-item.active {
  color: #A71F23;
}

.header-profile img {
  border: 3px solid #A71F23;}

input#checkAll.form-check-input:checked {
  background-color: #A71F23;
}

.form-check-input:focus {
  border-color:  #A71F23;
  box-shadow:  #A71F23;
}




.auth-form .logo-color {

  height: 50px;
width: 50px;
}
.auth-form img {
  max-width: 10.15rem;
}
.content-body{
  padding-right:0;
}
.header {
  padding-right: 5px;
}
.nav-header .brand-logo .brand-title {
  display: none;
}
.nav-header .brand-logo .logo-abbr {
  display: none;
}
.nav-header .brand-logo .logo-color {
  display: block;
  height: 50px;
  width: 50px;
}
.nav-header .brand-logo .color-title {
  display: block;
}

table#example5.dataTable.display tbody td {
  white-space: nowrap;
}


